* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    /* font-weight: 700; */
}

.main {

    background-color: hsl(222, 26%, 31%);
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.bd {
    display: flex;
    flex-direction: column;

    width: 350px;
    height: 450px;




}



/* themes */
.thems {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    margin: 5px;
}

#thm {
    font-size: 10px;
    font-weight: 700;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 135px;
}

.rng {
    justify-content: space-between;
    height: 35px;
    width: 65px;


    display: flex;
    flex-direction: column;
}

.rng span {
    padding: 2px 5px;
    width: 65px;
    margin: 2px;

}

.chkbtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
    background: black;
    border-radius: 10px;
}

#chkbtn input {
    background: black;
    cursor: pointer;
    

}






/* screen */
.screen {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 65px;
    background-color: hsl(224, 36%, 15%);
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.screen p {
    padding: 0px 18px;

}



/* btns */
.btns {


    background-color: hsl(224, 36%, 15%);
    border-radius: 6px;

}

.trdiv {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;

}

.trdiv button {

    border: 1px solid transparent;
    width: 50px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
}

 button {
    font-size: 18px;
    font-weight: 800;
    background-color: hsl(30deg 38% 79%);
    box-shadow: 0px 2px 2px 0px hsl(28deg 37% 51%);
}


.lstbtn button {
    margin: auto;
    width: 130px;

}


.blubtn {
    font-size: 14px;
    color: white;
    background: hsl(225, 21%, 49%);
    box-shadow: 0px 2px 2px 0px hsl(224, 28%, 35%);
}

.redbtn {
    color: white;
    background: hsl(6, 63%, 50%);
    box-shadow: 0px 2px 2px 0px hsl(6, 70%, 34%);

}

/* for sec theme */

.secbg{
    color: black;
    background-color:hsl(0, 0%, 90%) ;
}
.secthm{
    color: black;
}
.secchk{
    border: 1px solid white ;
    background-color: hsl(0, 5%, 81%);
}

.secscrn{
    background-color: hsl(0, 0%, 96%);
    color: black;
}

.secbtns{
    background-color: hsl(0, 5%, 81%);
}

.secbtnsbg{
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0px 2px 2px 0px  hsl(35, 11%, 61%);

}

.secblubtn{
    background-color: hsl(185, 42%, 37%);
   box-shadow: 0px 2px 2px 0px hsl(185, 58%, 25%) ;
}

.secredbtn{
   
    background-color: hsl(25, 98%, 40%);
   box-shadow: 0px 2px 2px 0px  hsl(25, 99%, 27%) ;

}


/* fro 3 theme */
.thibg{
    color:  hsl(52, 100%, 62%);
    background-color:hsl(268, 75%, 9%);
}

.thithm{
    color: hsl(52, 100%, 62%);
}

.thichk{
    border: 1px solid  hsl(268, 71%, 12%) ;
    background-color:  hsl(268, 71%, 12%);
}
.thiscrn{
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}

.thibtns{
    background-color: hsl(268, 71%, 12%);
}

.thibtnsbg{
    color: hsl(52, 100%, 62%);

    background-color: hsl(268, 47%, 21%);
    box-shadow: 0px 2px 2px 0px  hsl(290, 70%, 36%);

}

.thiblubtn{
    background-color: hsl(281, 89%, 26%);
   box-shadow: 0px 2px 2px 0px hsl(285, 91%, 52%) ;
   color: white;
}
.thiredbtn{
   color: hsl(198, 20%, 13%);
    background-color: hsl(176, 100%, 44%);
   box-shadow: 0px 2px 2px 0px  hsl(177, 92%, 70%)
   ;

}